<div id="event-form">
  <form method="POST">
    <!-- <div class="field"> -->
      <!-- <label class="label">ID</label> -->
      <!-- <div class="control"> -->
        <!-- <input class="input" type="number" id="event-id" disabled> -->
		<!-- </div> -->
      <!-- </div> -->

	
    <div class="field">
      <label class="label">Nume</label>
      <div class="control">
        <input class="input" type="text" id="name" name="name">
      </div>
    </div>
	<div class="field">
      <label class="label">Tip</label>
      <div class="control">
        <input class="input" type="text" id="type" name="type">
      </div>
    </div>

	<div class="field">
      <label class="label">Capacitate/zi</label>
      <div class="control">
        <input class="input" type="number" id="capacity" name="capacity">
      </div>
    </div>

	<div class="field">
      <label class="label">Pret(MDL)</label>
      <div class="control">
        <input class="input" type="number" id="price" name="price">
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-primary" id="save-event-button">Salveaza</button>
      </div>
      <div class="control">
        <button class="button is-link" id="cancel-event-button">Anuleaza</button>
      </div>
    </div>
  </form>
</div>
