<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/htmx.min.js"></script>
    <title>Park de Amuzament</title>
    <style>
      .menu-with-shadow {
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          border: 1px solid #dbdbdb;
      }
    </style>
  </head>
  <body>
	<header class="navbar is-primary">
      <div class="navbar-brand">
		<a class="navbar-item" href="#">
          <img src="/static/icons/menu-burger.svg" alt="Menu" width="28" height="28">
		</a>
		<div class="navbar-item">
          <strong>Panou de Administrare</strong>
		</div>
      </div>
      <div class="navbar-end">
		{{if .user}}
		<div class="navbar-item">
          <button class="button is-primary">{{.user}}</button>
          <button class="button is-primary">Logout</button>
		</div>
		{{end}}
      </div>
	</header>

	<div class="columns is-gapless" style="height: calc(100vh - 56px);">
	  {{if .user}}
	  {{template "navbar.html"}}
	  {{end}}

      <div class="column" style="display: flex; flex-direction: column;">
		<main class="section" style="flex: 1;">
          {{if not .user}}
          <div class="columns is-centered">
			<div class="column is-half">
              {{if .register}}
              {{template "register.html" .error}}
              {{else}}
              {{template "login.html" .error}}
              {{end}}

			</div>
          </div>
		  {{else}}
		  {{template "dashboard_header.html" .}}

		  {{if eq .page "Dashboard"}}
		  {{template "dashboard.html" .}}

		  {{else if eq .page "Evenimente"}}
		  {{template "events.html" .}}

		  {{else if eq .page "Atractii"}}
		  {{template "attractions.html" .}}

		  {{else if eq .page "Bilete"}}
		  {{template "tickets.html" .}}

		  {{else if eq .page "Vizitatori"}}
		  {{template "visitors.html" .}}
		  <!-- </section> -->
		  
		  {{end}}
		  
          {{end}}
		</main>
      </div>
	</div>
  </body>
</html>
