<section class="card p-3" id="body">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>ID</th>
        <th>Data</th>
        <th>Denumire</th>
        <th>Descriere</th>
      </tr>
    </thead>
    <tbody id="events-table-body">
	  
	  {{range .data}}
	  <tr>
	  <td>{{.ID}}</td>
	  <td>{{.Date}}</td>
	  <td>{{.Name}}</td>
	  <td>{{.Description}}</td>
	  </tr>
	  {{end}}	  

    </tbody>
  </table>

  <button class="button is-primary"
		  hx-put="/admin/events/edit"
		  hx-target="#body">Eveniment nou</button>

</section>
