<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <script src="/static/htmx.min.js"></script>
    <style>
      .background-hero {
          width: 100%;
          height: 100%;
          background-image: url("/static/img/hero.jpg");
          background-size: cover;
          background-position: center;
          position: relative;
      }
      .hero-body {
          position: relative;
          z-index: 1;
      }
      .hero-body .title {
          color: white;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
      }
      .navbar-item {
          color: white;
      }
	  .navbar-title {
		  font-size: 2rem;
	  }
    </style>
    <title>Park de Amuzament</title>
  </head>
  <body>
    <header class="hero is-primary background-hero is-fullheight">
      <nav class="navbar">
        <strong class="navbar-item navbar-title">Parc de Amuzament</strong>
        <div class="navbar-end">
          <a class="navbar-item is-active" href="#">Acasa</a>
          <a class="navbar-item" href="#about">Despre</a>
          <a class="navbar-item" href="#attractions">Atractii</a>
          <a class="navbar-item" href="#events">Evenimente</a>
          <a class="navbar-item" href="#buy-ticket">Cumpara Bilet</a>
        </div>
      </nav>
      
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">Parc de Amuzament</p>
        </div>
      </div>
    </header>

    <main class="content">
	  <section class="section" id="about">
		<h2 class="has-text-centered">Despre Noi</h2>
		<div class="container">
          <p>Parcul de Distracții "Aventura Moldovei" este destinația perfectă pentru întreaga familie! Situat în inima Moldovei, parcul nostru oferă o gamă variată de atracții și activități pentru toate vârstele. De la montagne russe palpitante la carusele colorate, fiecare vizitator va găsi ceva care să-i aducă zâmbetul pe buze.</p>
          <p>Cu o echipă dedicată de profesioniști, ne asigurăm că fiecare experiență este sigură și plăcută. Parcul nostru este dotat cu cele mai moderne măsuri de siguranță, astfel încât tu și familia ta să vă puteți bucura de o zi de neuitat fără griji.</p>
          <p>Pe lângă atracțiile de distracție, "Aventura Moldovei" oferă și o varietate de opțiuni de divertisment, inclusiv spectacole live, festivaluri tematice și evenimente speciale pe parcursul întregului an. Nu rata ocazia de a explora zonele noastre de relaxare, unde poți savura delicii culinare din bucătăria locală și internațională.</p>
          <p>Vino să descoperi magia parcului nostru și să creezi amintiri de neuitat alături de cei dragi! Te așteptăm cu brațele deschise la "Aventura Moldovei", unde distracția nu se termină niciodată!</p>
		</div>
	  </section>
	  
	  <section class="section" id="events">
		<h2 class="has-text-centered">Evenimente</h2>
		<div class="columns is-multiline is-centered">

          {{range .events}}
		  <div class="column is-one-third">
            <div class="card">
              <!-- <div class="card-image"> -->
              <!--   <figure class="image"> -->
              <!--     <img src="/static/img/event1.jpg" alt="Eveniment 1"> -->
              <!--   </figure> -->
              <!-- </div> -->
              <div class="card-content">
                <p class="title is-4">{{.Name}}</p>
                <p class="subtitle is-6">Data: {{.Date}}</p>
                <p>{{.Description}}</p>
                <div class="has-text-centered">
                  <a class="button is-link" href="#buy-ticket">Cumpara Bilet</a>
                </div>
              </div>
            </div>
		  </div>
		  {{end}}

	  </section>

	  <section class="section" id="attractions">
		<h2>Atractiuni</h2>
		<div class="container">
		  <div class="row">

			{{range .attractions}}
			<div class="col-md-4 mb-5">
			  <div class="card p-4">
				<!-- <img src="img/roller-coaster.jpg" class="card-img-top" alt="Roller Coaster"> -->
				<div class="card-body">
				  <h5 class="card-title">{{.Name}}</h5>
				  <p class="card-text">{{.Type}}</p>
				  <a href="#buy-ticket" class="btn btn-primary">Cumpara Bilet</a>
				</div>
			  </div>
			</div>
			{{end}}
			
		  </div>
		</div>
	  </section>

	  <section class="section" id="buy-ticket">
		<h2 class="has-text-centered">Cumpara Bilet</h2>
		<div class="card">
		  <div class="card-content">
            <div class="columns">
              <div class="column is-half">
                <figure class="image">
                  <img src="/static/img/ticket-image.jpg" alt="Ticket Image">
                </figure>
                <p>Purchase your tickets for an unforgettable experience at Parc de Amuzament! Choose from various ticket types and enjoy all the attractions.</p>
              </div>
              <div class="column is-half">
                <form method="POST">
                  <label for="attraction">Attractie:</label>
                  <select id="attraction" name="attraction" class="select"
                  	hx-get="/price"
                  	hx-target="#price"
                  	hx-trigger="change">
					
					{{range .attractions}}
                    <option value="{{.ID}}">{{.Name}}</option>
					{{end}}
					
				  </select>
                  <h3>Plata:</h3>
                  <label for="cname">Name pe Card</label>
                  <input type="text" id="cname" name="cardname" class="input" placeholder="Moldovanu Ion">
                  <label for="ccnum">Numar card</label>
                  <input type="text" id="ccnum" name="cardnumber" class="input" placeholder="1111-2222-3333-4444">
                  <label for="expmonth">Luna Exp.</label>
                  <input type="text" id="expmonth" name="expmonth" class="input" placeholder="September">
                  <label for="expyear">An Exp.</label>
                  <input type="text" id="expyear" name="expyear" class="input" placeholder="2018">
                  <label for="cvv">CVV</label>
                  <input type="text" id="cvv" name="cvv" class="input" placeholder="352">
                  <p>Pret: <span id="price">100</span> MDL</p>
                  <input type="submit" value="Cumpara bilet" class="button is-primary">
                </form>
              </div>
            </div>
		  </div>
		</div>
	  </section>
    </main>

	<footer class="footer mt-5 bg-dark text-white">
	  <div class="container">
		<div class="row">
		  <div class="col-md-4">
			<h5>Despre Noi</h5>
			<p>Parkul nostru de distracții este destinat să vă ofere cele mai bune momente de distracție pentru toată familia. Veniți și descoperiți o lume plină de aventură și divertisment!</p>
		  </div>
		  <div class="col-md-4">
			<h5>Contact</h5>
			<p>Strada Exemplu, Nr. 123, Chișinău, Moldova</p>
			<p>Telefon: +373 123 456 789</p>
			<p>Email: contact@parculdistractii.md</p>
		  </div>
		  <div class="col-md-4 text-md-right">
			<h5>Linkuri Utile</h5>
			<a href="/admin" class="btn btn-link text-white">Admin</a>
			<a href="#attractions" class="btn btn-link text-white">Atractiuni</a>
			<a href="#buy-ticket" class="btn btn-link text-white">Cumpara Bilet</a>
			<a href="#contact" class="btn btn-link text-white">Contact</a>
		  </div>
		</div>
		<div class="row mt-4">
		  <div class="col-md-12 text-center">
			<p>&copy; 2023 Parkul De Distractii. Toate drepturile rezervate.</p>
		  </div>
		</div>
	  </div>
	</footer>
  </body>
</html>
