<div class="column is-one-fifth" style="display: flex; flex-direction: column;">
  <aside class="menu menu-with-shadow" style="flex: 1;">
    <ul class="menu-list">
	  <strong>General</strong>
      <li><a href="/admin">Dashboard</a></li>
	  <strong>Administrare</strong>
      <li><a href="/admin/attractions">Atractii</a></li>
      <li><a href="/admin/events">Evenimente</a></li>
      <li><a href="/admin/tickets">Bilete</a></li>
      <li><a href="/admin/users">Utilizatori</a></li>
      <li><a href="/admin/settings">Setari</a></li>
    </ul>
  </aside>
</div>

